In [1]:
print("Hello Python World!")

Hello Python World!

In [8]:
name = "jonathan vidrine"

print(name.title())
print(name.upper())
print(name.lower())
print(name.isalpha())

Jonathan Vidrine
JONATHAN VIDRINE
jonathan vidrine
False

In [14]:
'''
You can use f before an opening quotation mark to pass in variables surrounded by curly brackets
Python will replace each variable when the string is displayed
'''

first_name = "Jonathan"
last_name = "Vidrine"

full_name = f"{first_name} {last_name}"
print(f"Welcome, {full_name.upper()}!")

Welcome, JONATHAN VIDRINE!

In [20]:
'''
\t in a print statement will add a tab indent
\n in a print statement will add a new line
'''

first_name = "Jonathan"
last_name = "Vidrine"
print(f"\t{first_name} ")
print(f"{first_name}\n{last_name}")
print(f"{last_name},\n\t{first_name}")

	Jonathan
Jonathan
Vidrine
Vidrine,
	Jonathan

In [26]:
def mult_two(a: int, b: int) -> int:
    mult = a * b
    return mult


print("Example")
print(mult_two(1, 2))

assert mult_two(3, 2) == 6
assert mult_two(0, 1) == 0

Example
2

In [27]:
from operator import mul as mult_two

print("Example")
print(mult_two(2, 4))

assert mult_two(3, 2) == 6
assert mult_two(0, 1) == 0

Example
8

In [32]:
import numpy as np

def mult_two(a :int, b:int) -> int:
    return np.prod([a,b])

print("Example")
print(mult_two(2, 4))

Example
8